@media only screen and (min-width: 36em) {

.fresh, .index{ 
  display: grid;
} 
.headerh1 {
 left: 23%;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map {
  width: 60%;
}

iframe {
  width: 100%;
   margin-left: 0;
   height: 110%;
}  
 .contactinfo {
  margin-left: 0;
}
.aboutthanks {
 margin-left: 0;
}
 
.vegcontainer,
.fruitcontainer, .cabcontainer {
  margin: 7px;
  padding: .7rem;
}
.vegcontainer {
  grid-column: 1/2;
}
.vegimg, .vegp {
 margin-left: 0;
}
.cabcontainer {
  grid-column: 2/3
}
.weather {
  grid-column: 1/2;
  grid-row: 2/3;
}
.smoothie {
  margin-left: 0;
  margin-right: 5px;
}
  nav ul li a {
    border: none;
  }
  .fruitcontainer {
    display: none;
  }
  .forecastcontainer {
    display: none;
  }
  .fruith2, .vegh2, .cabh2 {
   max-width: 90.5%;
}

}
